In [1]:
import subprocess
def system(command, **options):
    proc = subprocess.Popen(command, shell=True,
                            stdout=subprocess.PIPE,
                            **options)
    return proc.communicate()[0].decode('utf-8')

def cat(filepath):
    return system(f'cat {filepath}')

### hightemp.txt

In [86]:
with open('data/hightemp.txt') as r:
    hightemp = r.read()

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [87]:
hightemp.count('\n')

23

In [88]:
system(f'wc -l data/hightemp.txt\n')

'      23 data/hightemp.txt\n'

### 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [5]:
hightemp.replace('\t',' ')

'高知県 江川崎 41 2013-08-12\n埼玉県 熊谷 40.9 2007-08-16\n岐阜県 多治見 40.9 2007-08-16\n山形県 山形 40.8 1933-07-25\n山梨県 甲府 40.7 2013-08-10\n和歌山県 かつらぎ 40.6 1994-08-08\n静岡県 天竜 40.6 1994-08-04\n山梨県 勝沼 40.5 2013-08-10\n埼玉県 越谷 40.4 2007-08-16\n群馬県 館林 40.3 2007-08-16\n群馬県 上里見 40.3 1998-07-04\n愛知県 愛西 40.3 1994-08-05\n千葉県 牛久 40.2 2004-07-20\n静岡県 佐久間 40.2 2001-07-24\n愛媛県 宇和島 40.2 1927-07-22\n山形県 酒田 40.1 1978-08-03\n岐阜県 美濃 40 2007-08-16\n群馬県 前橋 40 2001-07-24\n千葉県 茂原 39.9 2013-08-11\n埼玉県 鳩山 39.9 1997-07-05\n大阪府 豊中 39.9 1994-08-08\n山梨県 大月 39.9 1990-07-19\n山形県 鶴岡 39.9 1978-08-03\n愛知県 名古屋 39.9 1942-08-02'

In [6]:
hightemp.replace('\t',' ') == system(f"tr '\t' ' ' < data/hightemp.txt")

True

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [41]:
import numpy as np
matrix = np.array([i.split('\t') for i in hightemp.split('\n')])

In [46]:
with open('data/col1.txt', mode = 'w') as w:
    w.write('\n'.join(matrix[:,0]))
system(f'cut -f 1 data/hightemp.txt') == cat(f'data/col1.txt') + '\n'

True

In [47]:
with open('data/col2.txt', mode = 'w') as w:
    w.write('\n'.join(matrix[:,1]))
system(f'cut -f 2 data/hightemp.txt') == cat(f'data/col2.txt') + '\n'

True

### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [76]:
with open('data/col1.txt') as r:
    col1 = np.array(r.read().split('\n'))
with open('data/col2.txt') as r:
    col2 = np.array(r.read().split('\n'))
with open('data/file13.txt', mode = 'w') as w:
    w.write('\n'.join(['\t'.join(i) for i in np.array((col1,col2)).T]))#ここで新ファイルを作成
system(f'paste data/col1.txt data/col2.txt') == cat(f'data/file13.txt') + '\n'

True

### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [ ]:
# file14.py
import sys
file = sys.argv[1]
n = int(sys.argv[2])

with open(file) as r:
    text = r.read()

print("\n".join(text.split('\n')[0:n]))

In [98]:
system(f'python data/file14.py data/hightemp.txt 2') == system(f'head -n 2 data/hightemp.txt')

True

### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [ ]:
# file15.py
import sys
file = sys.argv[1]
n = int(sys.argv[2])

with open(file) as r:
    text = r.read()

print("\n".join(text.split('\n')[-n:]))

In [112]:
system(f'python data/file15.py data/hightemp.txt 3') == system(f'tail -n 3 data/hightemp.txt') + '\n'

True

### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [ ]:
# file16.py
import sys
import numpy as np

file = sys.argv[1]
n = int(sys.argv[2])

with open(file) as r:
    text = r.read()

rows = np.array(text.split('\n'))
num = 0
for i in np.array_split(rows,int(len(rows)/n)):
    with open(f'data/dir16_b/file{num}.txt', mode = 'w') as w:
        w.write("\n".join(i))
    num = num + 1

In [151]:
system(f'rm data/dir16_a/*; split -l4 data/hightemp.txt data/dir16_a/')#dir16_aにsplitしたファイルを入れる
system(f'rm data/dir16_b/*; python data/file16.py data/hightemp.txt 4')#dir16_bにfile16.pyでできたファイルを入れる

''

In [176]:
def eqtext(a,b):
    new_a = a[:-1] if a[-1] is "\n" else a
    new_b = b[:-1] if b[-1] is "\n" else b
    return new_a == new_b

In [177]:
for i in range(int(len(np.array(hightemp.split('\n'))) / 4)):
    print(eqtext(cat(f"data/dir16_a/a{chr(ord('a')+i)}") , cat(f"data/dir16_b/file{i}.txt")))

True
True
True
True
True
True

### 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．