In [1]:
import subprocess
def system(command, **options):
    proc = subprocess.Popen(command, shell=True,
                            stdout=subprocess.PIPE,
                            **options)
    return proc.communicate()[0].decode('utf-8')

def cat(filepath):
    return system(f'cat {filepath}')

In [2]:
def eqtext(a,b):
    new_a = a[:-1] if a[-1] is "\n" else a
    new_b = b[:-1] if b[-1] is "\n" else b
    return new_a == new_b

### hightemp.txt

In [3]:
with open('data/hightemp.txt') as r:
    hightemp = r.read()

In [4]:
import numpy as np
matrix = np.array([i.split('\t') for i in hightemp.split('\n')])

### 10. 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [5]:
hightemp.count('\n')

23

In [6]:
system(f'wc -l data/hightemp.txt\n')

'      23 data/hightemp.txt\n'

### 11. タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [7]:
print(hightemp.replace('\t',' '))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [8]:
eqtext( hightemp.replace('\t',' '), system(f"tr '\t' ' ' < data/hightemp.txt") )

True

### 12. 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

In [9]:
with open('data/col1.txt', mode = 'w') as w:
    w.write('\n'.join(matrix[:,0]))
eqtext( system(f'cut -f 1 data/hightemp.txt') , cat(f'data/col1.txt') )

True

In [10]:
with open('data/col2.txt', mode = 'w') as w:
    w.write('\n'.join(matrix[:,1]))
eqtext( system(f'cut -f 2 data/hightemp.txt') , cat(f'data/col2.txt') )

True

### 13. col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [11]:
with open('data/col1.txt') as r:
    col1 = np.array(r.read().split('\n'))
with open('data/col2.txt') as r:
    col2 = np.array(r.read().split('\n'))
with open('data/file13.txt', mode = 'w') as w:
    w.write('\n'.join(['\t'.join(i) for i in np.array((col1,col2)).T]))#ここで新ファイルを作成
eqtext( system(f'paste data/col1.txt data/col2.txt') , cat(f'data/file13.txt') )

True

### 14. 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [ ]:
# file14.py
import sys
file = sys.argv[1]
n = int(sys.argv[2])

with open(file) as r:
    text = r.read()

print("\n".join(text.split('\n')[0:n]))

In [12]:
eqtext( system(f'python data/file14.py data/hightemp.txt 2') , system(f'head -n 2 data/hightemp.txt') )

True

### 15. 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [ ]:
# file15.py
import sys
file = sys.argv[1]
n = int(sys.argv[2])

with open(file) as r:
    text = r.read()

print("\n".join(text.split('\n')[-n:]))

In [13]:
eqtext( system(f'python data/file15.py data/hightemp.txt 3') , system(f'tail -n 3 data/hightemp.txt') )

True

### 16. ファイルをN分割する
自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [ ]:
# file16.py
import sys
import numpy as np

file = sys.argv[1]
n = int(sys.argv[2])

with open(file) as r:
    text = r.read()

rows = np.array(text.split('\n'))
num = 0
for i in np.array_split(rows,int(len(rows)/n)):
    with open(f'data/dir16_b/file{num}.txt', mode = 'w') as w:
        w.write("\n".join(i))
    num = num + 1

In [14]:
system(f'rm data/dir16_a/*; split -l4 data/hightemp.txt data/dir16_a/')#dir16_aにsplitしたファイルを入れる
system(f'rm data/dir16_b/*; python data/file16.py data/hightemp.txt 4')#dir16_bにfile16.pyでできたファイルを入れる

''

In [15]:
for i in range(int(len(np.array(hightemp.split('\n'))) / 4)):
    print(eqtext(cat(f"data/dir16_a/a{chr(ord('a')+i)}") , cat(f"data/dir16_b/file{i}.txt")))

True
True
True
True
True
True

### 17. １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [16]:
set(system('cut -f1 data/hightemp.txt | sort | uniq').split()) == set(matrix[:,0])

True

### 18. 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [17]:
print("\n".join(["\t".join(i) for i in sorted(matrix, key = lambda data: data[2])]))

千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
山形県	酒田	40.1	1978-08-03
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

In [18]:
print(system('sort -k3 -t "\t" data/hightemp.txt'))

愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

### 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．